<h2>Edit <%= @user.first_name.titleize %>'s info</h2>

<form action="/users/<%= @user.id %>" method="post">

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<input type="hidden" name="_method" value='patch'>

	<p>First Name: <input type="text" name="user[first_name]" value="<%= @user.first_name.titleize %>"></p>

	<p>Last Name: <input type="text" name="user[last_name]" value="<%= @user.last_name.titleize %>"></p>

	<p>Email: <input type="text" name="user[email]" value="<%= @user.email %>"></p>

	<p>Password: <input type="text" name="user[password]"></p>

	<p>Confirm Password: <input type="text" name="user[password_confirmation]"></p>
	
	<input type="submit" name="submit" value="Update User Info">
</form>