<!DOCTYPE html>
<html>
<head>
  <title>ShoeSaleRailsBelt2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:user_id] %>
		<a href="/logout" data-method="delete">Log out</a>
		| <a href="/shoes/<%= session[:user_id] %>">Home/All Prodcuts</a>
	<% end %>

	<% if flash[:errors] %>
		<ul>
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
		
	<% end %>
	

<%= yield %>

<% if session[:user_id] %>
	<hr>
		<a href="/users/<%= session[:user_id] %>/edit">Edit Account Info</a> | 

		<a href="/users/<%= session[:user_id] %>" data-method='delete'>Delete Account</a>

		
<% end %>



</body>
</html>
